{% extends "base_digital.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Solicitud {% endblock title %}
            
     
{% block content %}

<section class="main-container">
	<div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-lg-8">

              <!-- page-title start -->
              <!-- ================ -->
              <h1 class="page-title">REGISTRAR SOLICITUD</h1>
              <div class="separator-2"></div>
              <!-- page-title end -->

              <!-- Forms -->
              <!-- ============================================================================== -->
              <br>
              


 
     		 <h2>Basic example</h2>
			  <form>
			  <div class="row">
			    <div class="col">
			      <input type="text" class="form-control" placeholder="First name">
			    </div>
			    <div class="col">
			      <input type="text" class="form-control" placeholder="Last name">
			    </div>
			  </div>
			  <br></br>
			  <div class="row">
			    <div class="col">
			      <input type="text" class="form-control" placeholder="First name">
			    </div>
			    <div class="col">
			      <input type="text" class="form-control" placeholder="Last name">
			    </div>
			  </div>
			  <br></br>
			  <div class="row">
			    <div class="col">
			      <input type="text" class="form-control" placeholder="First name">
			    </div>
			    <div class="col">
			      <input type="text" class="form-control" placeholder="Last name">
			    </div>
			  </div>
			</form>
			        </div>
        </div>
        </div>
      </section>      
            {% endblock content %}