{% extends "base_digital.html" %}
{% load staticfiles %}

{% block title %}Certificado Digital - Senda {% endblock title %}
      
{% block content %}       

  <meta charset="utf-8">                       
         <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">
          
          <!-- slider revolution start -->
          <!-- ================ -->
          <div class="slider-revolution-5-container">
            <div id="slider-banner-fullscreen" class="slider-banner-fullscreen rev_slider" data-version="5.0">
              <ul class="slides">
                <!-- slide 1 start -->
                <!-- ================ -->
                <li data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="Unlimited Options and Layouts">
                
	                <!-- main image -->
	                
					<img src="{% static 'img/19.jpg' %}" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">
	                <!-- Transparent Background -->
	                <div class="tp-caption dark-translucent-bg"
	                  data-x="center"
	                  data-y="center"
	                  data-start="0"
	                  data-transform_idle="o:1;"
	                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
	                  data-transform_out="o:0;s:600;"
	                  data-width="5000"
	                  data-height="5000">
	                </div>
	
	                <!-- LAYER NR. 1 -->
	                <div class="tp-caption large_white"
	                  data-x="left"
	                  data-y="200"
	                  data-start="500"
	                  data-transform_idle="o:1;"
	                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
	                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
	                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
	                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
	                    <span class="logo-font">Senda Efact</span> - Facturacion Electronica
	                </div>  
	
	                <!-- LAYER NR. 2 -->
	                <div class="tp-caption large_white tp-resizeme"
	                  data-x="left"
	                  data-y="270"
	                  data-start="750"
	                  data-transform_idle="o:1;"
	                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
	                    <div class="separator-2 light"></div>
	                </div>
	
	                <!-- LAYER NR. 3 -->
	                <div class="tp-caption medium_white"
	                  data-x="left"
	                  data-y="290"
	                  data-start="750"
	                  data-transform_idle="o:1;"
	                  data-transform_in="y:[100%];sX:1;sY:1;s:850;e:Power4.easeInOut;"
	                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
	                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
	                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
	                  Sea parte de nuestra lista de clientes <br> una soluciona en la Nube facial de intergrar <br> ...
	                </div>
	
	                <!-- LAYER NR. 4 -->
	                <div class="tp-caption small_white"
	                  data-x="left"
	                  data-y="410"
	                  data-start="1000"
	                  data-transform_idle="o:1;"
	                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:600;e:Power4.easeInOut;"
	                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
	                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
	                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
	                    <a href="#" class="btn btn-gray btn-lg btn-animated margin-clear">Learn More <i class="fa fa-info-circle"></i></a> <span class="pl-1 pr-1">or</span> <a href="page-contact.html" class="btn btn-default btn-lg btn-animated margin-clear">Contact Us <i class="fa fa-envelope"></i></a>
	                </div>
	
	                <!-- LAYER NR. 5 -->
	                <div class="tp-caption"
                  data-x="center"
                  data-y="bottom"
                  data-voffset="100"
                  data-start="1250"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                </div>
                </li>
                <!-- slide 1 end -->

                <!-- slide 2 start -->
                <!-- ================ -->
                <li class="text-right" data-transition="random" data-slotamount="7" data-masterspeed="default" data-title="Simple and Smart Bootstrap Template">
                
                <!-- main image -->
                <img src="{% static 'img/3.jpg' %}" alt="slidebg2" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="right"
                  data-y="200"
                  data-start="500"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <span class="logo-font">Certificado Digital para Facturacion Electronica- SUNAT </span> 
                </div>  

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme"
                  data-x="right"
                  data-y="270"
                  data-start="750"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                    <div class="separator-3 light"></div>
                </div>  

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white"
                  data-x="right"
                  data-y="290"
                  data-start="750"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:850;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                  Certificados electronicos emitidos por autoridades de confianza. 	
				.<br>Entrega en 1 día
                  <br> Solicitalo hoy!	
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption small_white"
                  data-x="right"
                  data-y="410"
                  data-start="1000"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:600;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <a href="#" class="btn btn-gray btn-lg btn-animated margin-clear">Learn More <i class="fa fa-info-circle"></i></a> <span class="pl-1 pr-1">or</span> <a href="page-contact.html" class="btn btn-default btn-lg btn-animated margin-clear">Contact Us <i class="fa fa-envelope"></i></a>
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption"
                  data-x="center"
                  data-y="bottom"
                  data-voffset="100"
                  data-start="1250"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                </div>  
                </li>
                <!-- slide 2 end -->
                
                     <!-- slide 3 start -->
                <!-- ================ -->
                <li data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="Unlimited Options and Layouts">
                
	                <!-- main image -->
	                
					<img src="{% static 'img/6.jpg' %}" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">
	                <!-- Transparent Background -->
	                <div class="tp-caption dark-translucent-bg"
	                  data-x="center"
	                  data-y="center"
	                  data-start="0"
	                  data-transform_idle="o:1;"
	                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
	                  data-transform_out="o:0;s:600;"
	                  data-width="5000"
	                  data-height="5000">
	                </div>
	
	                <!-- LAYER NR. 1 -->
	                <div class="tp-caption large_white"
	                  data-x="left"
	                  data-y="200"
	                  data-start="500"
	                  data-transform_idle="o:1;"
	                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
	                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
	                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
	                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
	                    <span class="logo-font">Senda Efact</span> - Facturacion Electronica
	                </div>  
	
	                <!-- LAYER NR. 2 -->
	                <div class="tp-caption large_white tp-resizeme"
	                  data-x="left"
	                  data-y="270"
	                  data-start="750"
	                  data-transform_idle="o:1;"
	                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
	                    <div class="separator-2 light"></div>
	                </div>
	
	                <!-- LAYER NR. 3 -->
	                <div class="tp-caption medium_white"
	                  data-x="left"
	                  data-y="290"
	                  data-start="750"
	                  data-transform_idle="o:1;"
	                  data-transform_in="y:[100%];sX:1;sY:1;s:850;e:Power4.easeInOut;"
	                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
	                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
	                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
	                  Sea parte de nuestra lista de clientes <br> una soluciona en la Nube facial de intergrar <br> ...
	                </div>
	
	                <!-- LAYER NR. 4 -->
	                <div class="tp-caption small_white"
	                  data-x="left"
	                  data-y="410"
	                  data-start="1000"
	                  data-transform_idle="o:1;"
	                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:600;e:Power4.easeInOut;"
	                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
	                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
	                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
	                    <a href="#" class="btn btn-gray btn-lg btn-animated margin-clear">Learn More <i class="fa fa-info-circle"></i></a> <span class="pl-1 pr-1">or</span> <a href="page-contact.html" class="btn btn-default btn-lg btn-animated margin-clear">Contact Us <i class="fa fa-envelope"></i></a>
	                </div>
	
	                <!-- LAYER NR. 5 -->
	                <div class="tp-caption"
                  data-x="center"
                  data-y="bottom"
                  data-voffset="100"
                  data-start="1250"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                </div>
                </li>
                <!-- slide 3 end -->
                
                 <!-- slide 4 start -->
                <!-- ================ -->
                <li data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="Unlimited Options and Layouts">
                
	                <!-- main image -->
	                
					<img src="{% static 'img/25.jpg' %}" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">
	                <!-- Transparent Background -->
	                <div class="tp-caption dark-translucent-bg"
	                  data-x="center"
	                  data-y="center"
	                  data-start="0"
	                  data-transform_idle="o:1;"
	                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
	                  data-transform_out="o:0;s:600;"
	                  data-width="5000"
	                  data-height="5000">
	                </div>
	
	                <!-- LAYER NR. 1 -->
	                <div class="tp-caption large_white"
	                  data-x="left"
	                  data-y="200"
	                  data-start="500"
	                  data-transform_idle="o:1;"
	                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
	                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
	                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
	                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
	                    <span class="logo-font">Senda Efact</span> - Facturacion Electronica
	                </div>  
	
	                <!-- LAYER NR. 2 -->
	                <div class="tp-caption large_white tp-resizeme"
	                  data-x="left"
	                  data-y="270"
	                  data-start="750"
	                  data-transform_idle="o:1;"
	                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
	                    <div class="separator-2 light"></div>
	                </div>
	
	                <!-- LAYER NR. 3 -->
	                <div class="tp-caption medium_white"
	                  data-x="left"
	                  data-y="290"
	                  data-start="750"
	                  data-transform_idle="o:1;"
	                  data-transform_in="y:[100%];sX:1;sY:1;s:850;e:Power4.easeInOut;"
	                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
	                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
	                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
	                  Sea parte de nuestra lista de clientes <br> una soluciona en la Nube facial de intergrar <br> ...
	                </div>
	
	                <!-- LAYER NR. 4 -->
	                <div class="tp-caption small_white"
	                  data-x="left"
	                  data-y="410"
	                  data-start="1000"
	                  data-transform_idle="o:1;"
	                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:600;e:Power4.easeInOut;"
	                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
	                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
	                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
	                    <a href="#" class="btn btn-gray btn-lg btn-animated margin-clear">Learn More <i class="fa fa-info-circle"></i></a> <span class="pl-1 pr-1">or</span> <a href="page-contact.html" class="btn btn-default btn-lg btn-animated margin-clear">Contact Us <i class="fa fa-envelope"></i></a>
	                </div>
	
	                <!-- LAYER NR. 5 -->
	                <div class="tp-caption"
                  data-x="center"
                  data-y="bottom"
                  data-voffset="100"
                  data-start="1250"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                </div>
                </li>
                <!-- slide 4 end -->
                
                
                
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

      </div>
      <!-- banner end -->

      <div id="page-start"></div>

      <!-- section start -->
      <!-- ================ -->
      <section class="light-gray-bg pv-30 clearfix">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <h2 class="text-center">Core <strong>Features</strong></h2>
              <div class="separator"></div>
              <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p>
            </div>
            <div class="col-lg-4">
              <div class="pv-30 ph-20 feature-box bordered shadow-2 text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
                <h3>Elegant Design</h3>
                <div class="separator clearfix"></div>
                <p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
                <a href="page-services.html">Read More <i class="pl-1 fa fa-angle-double-right"></i></a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pv-30 ph-20 feature-box bordered shadow-2 text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                <span class="icon default-bg circle"><i class="fa fa-connectdevelop"></i></span>
                <h3>Extremely Flexible</h3>
                <div class="separator clearfix"></div>
                <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
                <a href="page-services.html">Read More <i class="pl-1 fa fa-angle-double-right"></i></a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pv-30 ph-20 feature-box bordered shadow-2 text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                <span class="icon default-bg circle"><i class="fa icon-snow"></i></span>
                <h3>Latest Technologies</h3>
                <div class="separator clearfix"></div>
                <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
                <a href="page-services.html">Read More <i class="pl-1 fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="pv-40 dark-translucent-bg background-img-7" style="background-position:50% 15%;">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <br>
              <div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg small"><i class="fa fa-support"></i></span>
                <div class="body">
                  <h4 class="title">Free Great Support</h4>
                  <p>We will do our best to assist you with any issues/bugs related to the use of our themes.</p>
                  <div class="separator-3"></div>
                  <ul class="list-icons">
                    <li>Extremly Simple to Use <i class="icon-check-1"></i></li>
                    <li>Customize it in no time <i class="icon-check-1"></i></li>
                    <li>Unlimited options and variations <i class="icon-check-1"></i></li>
                    <li>We are here to support you <i class="icon-check-1"></i></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <br>
              <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg small"><i class="fa fa-diamond"></i></span>
                <div class="body">
                  <h4 class="title">Crystal Clean Code</h4>
                  <p>Clean and W3C valid code that help you to easily read it and modify it. Elegant layouts that help you organize your content.</p>
                  <div class="separator-2"></div>
                  <ul class="list-icons">
                    <li>Extremly Simple to Use <i class="icon-check-1"></i></li>
                    <li>Customize it in no time <i class="icon-check-1"></i></li>
                    <li>Unlimited options and variations <i class="icon-check-1"></i></li>
                    <li>We are here to support you <i class="icon-check-1"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="clearfix"></div>
      <!-- section end -->
      
  {% endblock content %}